# Exclude Pyc
*.pyc
/.idea
*.zip
*~
*.csv
*.png

# Workspace specific
.idea/workspace.xml
.idea/tasks.xml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/libraries
.idea/gradle.xml


# File-based project format:
/**/*.iws

# Build files
*.egg-info
build
dist
